<html>
<head>
	<title>Flocate</title>

    <script src="js/jquery.js"></script>

     <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCG4jUolof0jhqQu0j1aNqSWfW_ms-wRKg&sensor=true"></script>

</head>
<body>

	<div>
		<%- body %>
	</div>

	<script src="js/flocate-upload.js"></script>

</body>
</html>