<!DOCTYPE html>
<html>
<head>
</head>

<body>

<input type="text" id="what" placeholder="What?">
<br>
<textarea id="detail" placeholder="More Detail?"></textarea>
<br>
<input type="text" id="resources" placeholder="Resources?">
<br>
<input type="text" id="lat" placeholder="Where?">
<input type="text" id="lng" placeholder="Where?">
<br>
<input type="text" id="when" placeholder="When?">
<br>
<input type="text" id="when" placeholder="Who?">
<br>
<a href="#" id="submit">Save</a>

</body>
</html>